<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936576151326-usbkcabvdfkrm5u0gb50lflcvdoeih6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936576151326-usbkcabvdfkrm5u0gb50lflcvdoeih6g</string>
	<key>API_KEY</key>
	<string>AIzaSyDe3ZAVP2384w1XwUg-Dn1-4rLGxSXcvC8</string>
	<key>GCM_SENDER_ID</key>
	<string>936576151326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>petProject.PetVet</string>
	<key>PROJECT_ID</key>
	<string>petvet-b7a03</string>
	<key>STORAGE_BUCKET</key>
	<string>petvet-b7a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936576151326:ios:b1b0b8e2db9228fd34230f</string>
</dict>
</plist>